<!DOCTYPE html>
{% load static %}
{% load navbar %}

<html>
<head>
    <title>{% block title %}Home Page{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- LOAD CSS AND BASIC JS -->

    <!-- Bootstrap minified css -->
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'/>

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'/>

    <!-- Extra head block -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% navbar %}
    {% block body_contents %}{% endblock %}

    <!-- Jquery minified js -->
    <script type="text/javascript" src='{% static "js/jquery.min.js"%}'></script>

    <!-- Bootstrap minified js -->
    <script type="text/javascript" src='{% static "js/bootstrap.min.js"%}'></script>
</body>
</html>
