<!DOCTYPE html>
<html lang="en" class="demo-3 no-js">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="ANK 2016 - The Knowledge Fest by National Institute Of Technology Durgapur Maths N Tech Club">
	<meta name="keywords" content="MNTC,Ank 2K16" /> 
	<meta name="author" content="Maths n Tech Club"> 
	<title>ANK 2016! #LetTheFunBegin </title>	
	
	<!-- SOCIAL MEDIA META -->
	<meta property="og:title" content="ANK 2016 | The Knowledge Fest"/>
	<meta property="og:url" content="http://ank.mntc.in" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="MNTC NIT Durgapur presents ANK 2016 | The Knowledge Fest" />
	
	{% load staticfiles %}
	<!-- STYLE SHEETS-->
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/demoevents.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/componentevents.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	<script src="{% static "js/snap.svg-min.js" %}"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/menu_bubble.css" %}" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->
  	</head>
  	<body>
  		<div class="container">
		<div class="menu-wrap">
				<nav class="menu">
					<div class="icon-list">
						<a href="/"><span>Home</span></a>
						<a href="/about"><span>About Us</span></a>
						<a href="/sponsors"><span>Sponsors</span></a>
						<a href="/contact"><span>Contact Us</span></a>
					</div>
				</nav>
				<button class="close-button" id="close-button">Close Menu</button>
				<div class="morph-shape" id="morph-shape" data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
						<path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
					</svg>
				</div>
			</div>
			<button class="menu-button" id="open-button">Open Menu</button>
  			<!-- Top Navigation -->
  			<header class="codrops-header">
  				<h1>EVENTS</h1>
  			</header>
  			<section id="grid" class="grid clearfix">
  				{% for event in all_events %}
          <a href="http://cargocollective.com/isaac317" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
  					<figure>
              {% if event.logo %}
                <img src="{{ event.logo.url }}" alt= {{ event.name }}>
              {% else %}
                <img src="{% static "img/1.png" %}" />
              {% endif %}
  						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z "/></svg>
  						<figcaption>
  							<h2>{{ event.name }}</h2>
  							<p>{{ event.description }}</p>
  							<button>View</button>
  						</figcaption>
  					</figure>
  				</a>
          {% endfor %}
  			</section>
  		</div><!-- /container -->
  		<script>
  			(function() {
  				
  				function init() {
  					var speed = 300,
  					easing = mina.backout;

  					[].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
  						var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
  						pathConfig = {
  							from : path.attr( 'd' ),
  							to : el.getAttribute( 'data-path-hover' )
  						};

  						el.addEventListener( 'mouseenter', function() {
  							path.animate( { 'path' : pathConfig.to }, speed, easing );
  						} );

  						el.addEventListener( 'mouseleave', function() {
  							path.animate( { 'path' : pathConfig.from }, speed, easing );
  						} );
  					} );
  				}

  				init();

  			})();
  		</script>
		<script src="{% static "js/classie.js" %}"></script>
		<script src="{% static "js/main4.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.js" %}"></script> 
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.js"></script>
		<script type="text/javascript" src="{% static "js/jquery.isotope.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/main.js" %}"></script>
  	</body>
  	</html>
