<!DOCTYPE html>
<html>
<head>
<title>{{ event.name }}</title>
</head>
<body>

<h1>{{ event.name }}</h1>
{% if event.logo %}
<img src="{{ event.logo.url }}">
{% endif %}

<h2>About the Event</h2>
<p>{{ event.description }}</p>
<p><strong>Venue</strong>: {{ event.venue }}</p>
<p><strong>Time</strong>: {{ event.date_time }}</p>
{% if event.problem_statement_file %}
<a href="{{ event.problem_statement_file.url }}" target="_blank">Problem Statement</a>
{% endif %}
{% if event in user_profile.registered_events.all %}
<h3>You have already registered for this event</h3>
{% else %}
<a href="/register_event/{{ event.identifier }}"><button>Register</button></a>
{% endif %}



</body>
</html>