<!DOCTYPE html>
<html>
<head>
  <title>ANK 2016 - The Knowledge Fest</title>

  <!-- Include bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
  <div class="event_container">
      <a href="{{ event.get_absolute_url }}"><h2>{{ event.name }}</h2></a>
      {% if event.logo %}
        <img src="{{ event.logo.url }}" width="200px">
      {% endif %}
      <p>{{ event.description }}</p>
      <p>{{ event.venue }}</p>
      {% if event in user_profile.registered_events.all %}
        <h3>You have already registered for this event</h3>
      {% else %}
        <a href="/register_event/{{ event.identifier }}"><h3>Register</h2></a>
      {% endif %}
  </div>
</body>
</html>
