<!DOCTYPE html>
<html>
<head>
<title>ANK FEST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <h1>Hello World!</h1>
  {% if user.is_authenticated %}
  	<!-- User is logged in -->
  	<div class="user-details">
  	<p>You are logged in as <b>{{ user.username }}</b>!</p>
  	<p>First Name: {{ user.first_name }}</p>
  	<p>Last Name: {{ user.last_name }}</p>
  	<p>Email: {{ user.email }}</p>

  	</div>
  	<a href="/logout">Logout</a>
  {% else %}
  	<!-- User is not logged in -->
  	{% for backend in backends.backends %}
  	<a href="/login/{{backend}}/?next=/"><div class="login-button {{backend}}">{{backend}}</div></a><br>
  	{% endfor %}
  {% endif %}
  
</body>
</html>
