{% extends "festflow/base.html" %}
{% load static %}

{% block title %} {{ keynote.name }} {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/other.css" %}'/>

{% endblock %}

{% block body_contents %}

<div class="container">
    <div class="jumbotron">
        <h1 id='link'>{{ keynote.name }}</h1>
        <div class="dash"></div>
        <br />
        <br />
        {% if keynote.image %}
        <img src="{{ keynote.image.url }}" alt= "{{ keynote.name }}" class='img-responsive' />
        <br />
        {% endif %}

        <h3 id='link'><strong>About the Speech</strong></h3>
        <div class="subdash"></div>
        <br />
        <br />
        <p>{{ keynote.description|safe }}</p>

        <div class='sub-heading'>
            <p><strong>Venue : </strong></p>
            <p> {{ keynote.venue }}</p>
        </div>

        <div class='sub-heading'>
            <p><strong>Time : </strong></p>
            <p> {{ keynote.date_time }}</p>
        </div>
    </div>
</div>

{% endblock %}
