{% load static %}

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="/">
          <img src="{% static "images/logo.png" %}" alt="Logo Brand" height='50px'>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% for entry in entries %}
        <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
