appdirs==1.4.0
autoflake==0.6
autopep8==1.2
cib==0.5.6
coala==0.9.1
coala-utils==0.5.1
colorama==0.3.7
colorlog==2.10.0
defusedxml==0.4.1
Django==1.8
django-ckeditor==5.1.1
django-email-extras==0.3.3
django-forms-builder==0.13.0
docopt==0.6.2
future==0.15.0
libclang-py3==0.2
oauthlib==1.1.2
packaging==16.8
pep8==1.7.0
PEP8Bear==0.9.0.1482008498
Pillow==3.3.1
pyflakes==1.5.0
Pygments==2.2.0
PyJWT==1.4.2
pyparsing==2.1.10
PyPrint==0.2.6
python-gnupg==0.3.9
python-social-auth==0.2.21
python3-openid==3.0.10
PyUnusedCodeBear==0.9.0.1482008498
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
SpaceConsistencyBear==0.9.0.1482008498
sphinx-me==0.3
termcolor==1.1.0
Unidecode==0.4.20
