defusedxml==0.5.0
Django==1.8
oauthlib==1.1.2
Pillow==3.3.1
PyJWT==1.4.2
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
django-ckeditor==5.1.1
django-forms-builder==0.13.0
