defusedxml==0.5.0
Django==2.0.2
django-ckeditor==5.1.1
django-email-extras==0.3.3
django-forms-builder==0.13.0
future==0.15.0
oauthlib==1.1.2
Pillow==3.3.1
PyJWT==1.4.2
python-gnupg==0.4.1
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2018.3
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
sphinx-me==0.3
Unidecode==1.0.22
