/*CSS file for the about.html view*/

div.jumbotron {
    z-index: 2;
    box-shadow: 0 8px 16px -6px #888;
    background-color: rgba(238,238,238, 0.6);
}

.about-text {
    color: #4d4d4d;
}

.about-text img{
    color: #4d4d4d;
    max-width: 100%;
    margin: 50px 0px 50px 0px;
}

.dash {
    display: inline-block;
    width: 100%;
    background-color: #4285f4;
    height: 5px;
}

/*Make the page headers in small-caps*/
h1#link {
    font-variant: small-caps;
}
