@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';
@import 'https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Katibeh|Petrona';

.content h2,h5{
	font-family: 'Baloo Paaji' ,cursive;
}

.count{
	color:#000;
}

.user_details{
	font-family: 'Petrona', serif;
	font-size: 2em;
}

.user_details a{
	font-family: 'Baloo Paaji' ,cursive;
}

