
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,400,300);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
@import 'https://fonts.googleapis.com/css?family=Covered+By+Your+Grace';
@import 'https://fonts.googleapis.com/css?family=Creepster';

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	
}

.demo-1 .large-header {
	background: none;
}

.main-title {
	color: #ffffff;
	text-align: center;
	margin-top:15vh;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {  
	letter-spacing: 0.1em;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 1em;
	}
}

#effect {
	padding: 0px;
}
