@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Itim';


#navigation  .navbar-nav  .active  a,  
#navigation  .navbar-nav  .active  a:focus, 
#navigation .navbar-nav.navbar-right li a:hover {
	color: #fff;
	//background-color: #fc7700;
	background-color:#ef3c3c;
	font-family:'Baloo Paaji', cursive;
}

#navigation .navbar-nav.navbar-right li a {
	color:#000;
	font-family: 'Baloo Paaji', cursive;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding: 22px 15px;
}

.event_container h1{
	font-family:  'Baloo Paaji', cursive;
	font-size:4em;
}

.row h2{
	font-family: 'Itim', cursive;
	font-size:3em;
}

.row p{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size:17px;
}