#background-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background: url('../images/eventbg.jpg') center no-repeat;
	opacity: 0.15;
}

#share-buttons-wrapper {
	padding: 1em;
	margin: 1em;
}