@import url('https://fonts.googleapis.com/css?family=Itim|Chewy|Baloo+Bhaina|Caveat+Brush|Coiny|Lobster');

#background-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background: url('../images/eventbg.jpg') center no-repeat;
	opacity: 0.15;
}

#share-buttons-wrapper {
	padding: 1em;
	margin: 0 auto;
	width: 15em;
}

h1{
	
	font-family: 'Coiny', cursive;
	font-size:400%; 
	text-transform: uppercase;
	padding-bottom:1em;
	color: #000;
}
h2{
 	font-family: 'Chewy', cursive;
 	font-size: 300%;
 	font-weight:100;
 	color: #c33939;
 }
 p{
 	font-family: 'Caveat Brush', cursive;
 	font-size:200%;
 	font-weight: 100;
 }

h4{
	padding-top: 1em;
	padding-bottom: 1em;
	color:#354d73;
	font-weight: 800;
}
