/* main canvas styles */
#main-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background: #d5d5d5;
	opacity: 0.5;
}

#main-background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-image: url('../images/main-background2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* main logo styles */
#large-header {
	position: relative;
	z-index: 3;
}

/* animation for logo glow */
@keyframes glow {
	0%   {filter: drop-shadow(0px 0px 0px RGBA(226, 255, 255, 0.0));}
	50%  {filter: drop-shadow(0px 0px 4px RGBA(226, 255, 255, 0.6)); transform: scale(1.01);}
	100% {filter: drop-shadow(0px 0px 4px RGBA(226, 255, 255, 0.0));}
}


#logo {
	display: block;
	max-width: 100%;
	width: 26em;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 2em;
	filter: drop-shadow(0px 0px 16px RGBA(226, 255, 255, 0.34));
	animation-name: glow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

/* Animation for register button glow */
@keyframes glow_button {
	0%   {	background: rgba(255,255,255, 0.1);
		border:  2px solid rgba(255,255,255, 0.3);
	}
	50%  {	background: rgba(255,255,255, 0.2);
		border:  2px solid rgba(255,255,255, 0.5);
	}
	100% {	background: rgba(255,255,255, 0.1);
		border:  2px solid rgba(255,255,255, 0.3);
	}
}
/* register button styles */
#register-button-link {
	display: block;
	margin: 0 auto;
	text-decoration: none;
}
#register-button-link:hover {
	text-decoration: none;
}
#register-button-link:active {
	text-decoration: none;
}

#register-button {
	background: rgba(255,255,255, 0.1);
	border:  2px solid rgba(255,255,255, 0.3);
	display: block;
	margin: 0 auto;
	font-size: 1.4em;
	padding: 0.4em 1.2em;
	animation-name: glow_button;
	animation-duration: 6s;
	animation-iteration-count: infinite;

	transition: all 0.5s;
}
#register-button:hover {
	background: rgba(255,255,255, 0.2);
	border:  2px solid rgba(255,255,255, 0.6);
	transition: all 0.5s;
}

#register-button a {
	text-decoration: none;
}

/* countdown styles */
.countdown {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    color: #e5e5e5;
    /* text-shadow: 0px 1px 2px #fff; */
    padding: 1em;
}

@keyframes glow-clock {
	0% {transform: scale(1);
    box-shadow: 0 0 0.1em 0 #fff;
	}
	100% {transform: scale(0.9);
    box-shadow: none;
	}
}
.clock-unit {
    display: block;
    float: left;
    width: 2.8em;
    border-radius: 50%;
    height: 2.8em;
    text-align: center;
    box-shadow: 0 0 0.1em 0 #fff;
    margin: 0.2em;
    animation-name: glow-clock;
	animation-duration: 2s;
	animation-iteration-count: infinite;

}

.clock-unit-sub {
	font-size: 0.7em;
}

.countdown {
	width: 14.9em;
	margin: 0 auto;
}

/* share button styles */

#share-buttons-wrapper {
	position: fixed;
	right: 0em;
	bottom: 0em;
	max-width: 50%;
	width: 12em;
	margin: 0 auto;
}

.rrssb-buttons li a .rrssb-icon svg circle, .rrssb-buttons li a .rrssb-icon svg path {
    fill: #000;
}
.rrssb-buttons li.rrssb-twitter a {
	background: #fff;
}
.rrssb-buttons li.rrssb-twitter a {
	background: #fff;
}

.rrssb-buttons li.rrssb-facebook a {
	background: #fff;
}
.rrssb-buttons li.rrssb-facebook a {
	background: #fff;
}

.rrssb-buttons li.rrssb-googleplus a {
	background: #fff;
}
.rrssb-buttons li.rrssb-googleplus a {
	background: #fff;
}


@media all {
    .countdown {
        font-size: 2em;
    }
}

@media all and (max-device-width: 640px){
    .countdown {
        font-size: 1.6em;
    }
}

@media all and (max-device-width: 320px){
    .countdown {
        font-size: 1.2em;
    }
}
