@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';
@import 'https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Katibeh|Petrona';

#navigation  .navbar-nav  .active  a,  
#navigation  .navbar-nav  .active  a:focus, 
#navigation .navbar-nav.navbar-right li a:hover {
	color: #fff;
	//background-color: #fc7700;
	background-color:#ef3c3c;
	font-family:'Baloo Paaji', cursive;
}

#navigation .navbar-nav.navbar-right li a {
	color:#000;
	font-family: 'Baloo Paaji', cursive;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding: 22px 15px;
}

.content h1{
	font-family: 'Baloo Paaji' ,cursive;
}

.content h2{
	font-family:'Fredericka the Great', cursive;
}

.count{
	color:#000;
}

.user_details{
	font-family: 'Petrona', serif;
	font-size: 2em;
}

.user_details a{
	font-family: 'Baloo Paaji' ,cursive;
}

