@import url('https://fonts.googleapis.com/css?family=Aclonica|Chewy|Baloo+Bhaina|Caveat+Brush|Coiny|Euphoria+Script|Lilita+One|Quintessential|Sigmar+One');

#background-container {
	background: url("../images/aboutbg.png");
	//background: linear-gradient( 64deg, rgba(0,0,0,0.4), rgba(255,255,255,0.2) );
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
h1{
	font-family: 'Aclonica', Cursive;
	padding:1em;
	font-size:300%;
	color: #fff;
}